.input {
  display: flex;
  background-color: transparent;
  margin-bottom: rem(32);

  input {
    flex: 1;
    font-size: rem(20);
    color: $bright-gray;
    outline: none;
    border: none;
    margin-right: rem(16);
    border-bottom: rem(2) solid $turquoise;
    background-color: transparent;
  }

  &__create-button {
    font-family: $secondary-font;
    background: $turquoise;
    border-radius: rem(3);
    color: $emerald;
    font-size: rem(32);
    font-weight: 700;
    cursor: pointer;
    @include border-radius(100%);
    width: rem(60);
    height: rem(60);
    border: 2px solid $white;
    outline: 0;
    transition: all 0.15s;

    &:hover {
      background: $emerald;
      color: $white;
    }
  }
}
