.input {
  display: flex;
  flex-direction: column;
  background-color: $white;
  padding: rem(16) rem(16) rem(24);

  input {
    flex: 1;
    font-size: rem(18);
    color: $bright-gray;
    outline: none;
    border: none;
    padding-bottom: rem(16);
    margin: rem(24) 0 0;
    border-bottom: rem(2) solid $emerald-20;
    background-color: transparent;
    &::placeholder {
      color: $french-gray;
    }
  }

  &__create-button {
    font-family: $secondary-font;
    background: $turquoise;
    color: $emerald;
    font-size: rem(32);
    font-weight: 700;
    cursor: pointer;
    @include border-radius(100%);
    width: rem(60);
    height: rem(60);
    border: 2px solid $white;
    outline: 0;
    position: absolute;
    left: calc(50% - 30px);
    margin-top: -48px;
    transition: all 0.15s;

    &:hover {
      background: $emerald;
      color: $white;
    }
  }
}
