// Border radius
@mixin border-radius($radius...) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

// Breakpoints
@mixin breakpoint-xs {
  @media (max-width: 480px) {
    @content;
  }
}

@mixin breakpoint-sm {
  @media (max-width: 576px) {
    @content;
  }
}

// Rem Sizing
@function rem($pixels, $context: $base-sizing) {
  @return #{$pixels/$context}rem;
}
