@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;300;400;700&display=swap');

// Font Variables
$base-font: 'Varela Round', sans-serif;
$secondary-font: 'Roboto Mono', monospace;

// Base size
$base-sizing: 16;

// Colours
$bright-gray: #3E434F;
$french-gray: #BDC0CA;
$mischka: #CFD3DA;
$mischka-35: rgba(216, 211, 218, 0.35);
$athens-gray: #EEF0F5;
$emerald: #46BE8B;
$emerald-20: rgba(70, 190, 139, 0.20);
$turquoise: #50E3A4;
$carrara: #F0EFE9;
$white: #FFFFFF;
$white-80: rgba(255, 255, 255, 0.8);
$alizarin-crimson: #de350b;
$alizarin-crimson-35: rgba(222, 53, 11, 0.1);
$japanese-laurel: #00875a;
$japanese-laurel-35: rgba(0, 135, 90, 0.1);
