.item {
  padding: rem(16);
  display: flex;
  align-items: center;
  transition: all 0.15s;
  user-select: none;
  outline: 0;
  border-top: rem(2) solid $athens-gray;
  cursor: pointer;

  &:hover {
    background: $emerald-20;

    .item__edit, .item__remove {
      opacity: 1;
    }
  }

  + .item {
    border-top: rem(2) solid $athens-gray;
  }

  &__text {
    flex: 1;
    word-break: break-all;
    margin-left: rem(16);
    transition: all 0.15s;

    &__name {
      font-size: rem(18);
      font-weight: 700;
    }

    &__description {
      font-size: rem(16);
      padding: rem(8) 0 0;
    }

    &__date {
      font-size: rem(8);
      padding-top: rem(8);
    }

    &__name, &__description, &__date  {
      color: $bright-gray;
      margin: 0;
    }

    input {
      width: 100%;
      color: $bright-gray;
      outline: none;
      border: none;
      padding-bottom: rem(4);
      border-bottom: rem(1) solid $french-gray;
      background-color: transparent;
      &.name {
        font-size: rem(18);
        font-weight: 700;
      }
      &.description {
        font-size: rem(16);
        padding: rem(8) 0 rem(4);
      }
    }
  }

  @keyframes strike{
    0%   { width : 0; }
    100% { width: 100%; }
  }

  &__checked {
    .item__text__name {
      span {
        position: relative;
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 100%;
          height: rem(2);
          background: $french-gray;
          animation-name: strike;
          animation-duration: 0.2s;
          animation-timing-function: linear;
          animation-iteration-count: 1;
          animation-fill-mode: forwards;
        }
      }
    }
    .item__text {
      &__name, &__description, &__date {
        color: $french-gray;
      }
    }
  }

  &__check-mark {
    font-family: $secondary-font;
    font-size: rem(24);
    width: rem(32);
    height: rem(32);
    background-color: $white;
    color: $turquoise;
    border: rem(2) solid $athens-gray;
    transition: all 0.15s;
    @include border-radius(100%);

    img {
      width: rem(20);
      height: rem(20);
      padding-left: rem(6);
    }
  }

  &__edit {
    color: $bright-gray;
    opacity: 0;
    background: transparent;
    border: none;
    padding: 0 rem(16);
    outline: 0;
    transition: all 0.15s;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  &__remove {
    font-size: rem(16);
    font-family: $secondary-font;
    color: $emerald;
    font-weight: 700;
    opacity: 0;
    width: rem(28);
    height: rem(28);
    border: rem(2) solid $athens-gray;
    background-color: $white;
    transition: all 0.15s;
    outline: 0;
    cursor: pointer;
    @include border-radius(100%);

    &:hover {
      background-color: $emerald;
      color: white;
    }
  }
}
