.vcr {
  &__sticky-header {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    width: rem(192);
    height: rem(84);
    background-color: $white-80;
    border-radius: 0;
    box-shadow: 0 rem(30) rem(56) rem(6) rgba(0, 0, 0, 0.1);
    // Breakpoint for small screen
    @include breakpoint-sm {
      width: 100vw;
    }

    &--display {
      position: relative;
      padding: rem(4) 0 rem(4);
      text-align: center;
      width: 100vw;
      max-width: 100%;
      overflow-x: hidden;
      height: rem(20);
      margin-bottom: rem(4);
      background-color: $bright-gray;
      span {
        margin: 0;
        color: $turquoise;
        font-size: rem(14);

        &.animated {
          // text-align: right;
          position: absolute;
          white-space: nowrap;
          will-change: transform;
          animation: marquee 8s linear infinite;
          @include breakpoint-sm {
            animation: marquee 6s linear infinite;
          }
        }
      }
    }

    &--actions {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: rem(4);
    }
  }
}
