// Variables
@import './styles/variables';
@import './styles/mixins';

// Components styles
@import './components/Form/form';
@import './components/Item/item';
@import './components/List/list';

// Main
body {
  font-family: $base-font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: $carrara;

  .todo {
    &__container {
      margin: rem(32) auto rem(60);
      max-width: rem(600);
      // Breakpoint for small screen
      @include breakpoint-sm {
        margin: rem(32) rem(16);
      }
    }
    // TODO: move to separate component
    &__header {
      text-align: center;
      margin-bottom: rem(52);
    }
    &__logo {
      width: rem(150);
    }
    // TODO: move to separate component
    &__footer {
      position: relative;
      height: rem(64);
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      border-top: 2px solid $athens-gray;
      box-shadow: 0 rem(8) rem(16) 0 $mischka-35;
      text-shadow: 0 rem(8) rem(16) $mischka-35;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        background-image: url('./assets/img/footer-bg.png');
        height: rem(75);
        background-size: cover;
        background-repeat: no-repeat;
        bottom: rem(-60);
        // Breakpoint for extra small screen
        @include breakpoint-xs {
          background-size: contain;
        }
      }
    }
    // TODO: update the button style
    &__button {

    }
  }
}
